ul {
  list-style-type: none;
}

body {
  color: #31261a;
}

.button {
  color: #faf4ea;
  background-color: #819b57;
  border: 2px solid #819b57;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: #465929;
  background-color: transparent;
}

.link {
  color: #faf4ea;
}

.link:hover {
  color: #465929;
}

.hero-title {
  color: #faf4ea;
}

.hero-title .accent {
  color: #819b57;
}

.advantages-list {
  background-color: #819b57;
  color: #faf4ea;
}

.section-title {
  color: #31261a;
}

.section-title .accent {
  color: #465929;
}
